<div ng-controller="MyCtrl">
    <form name="form" class="css-form" novalidate>
        <div class="form-group">
            <input type="number" ng-model="size" name="size" min="0" max="10" integer
                    placeholder="Size should be (0 - 10)" class="form-control"/>
            {{size}}
            <span ng-show="form.size.$error.integer">This is not valid integer!</span>
            <span ng-show="form.size.$error.min || form.size.$error.max">
                The value must be in range 0 to 10!
            </span>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="length" name="length"
                    smart-float/>
            {{length}}
            <span ng-show="form.length.$error.float">This is not valid float number!</span>
        </div>
    </form>
</div>
